/* screen 320 */
@media screen and (min-width: 320px){
.container{
max-width: 320px;
}
.footer-container{
justify-content: center;
}
.modal-checkbox{
position: relative;
}
.modal-checkbox-check{
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
}
.header-nav{
    display: none;
}
.header-contacts{
    display: none;
}
.mobile-menu.js-menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}
}

/* screen 768 */
@media screen and (min-width: 768px){
.container{
max-width: 768px;
}
.menu-button{
display: none;
}
.hero-title{
/* max-width: 496px; */
padding: 112px 104px 36px;
font-size: 56px;
line-height: 1.07;
padding-bottom: 16px;
}
.header-mobile-manu{
    display: none;
}
.header-nav{
    display: flex;
}
.header-contacts{
  display: flex;
  padding: 16px 0;
}
.header-contacts-item{
  flex-direction: column;
  align-items: center;
  /* gap: 40px; */
  gap: 12px;
}
.header-contacts-link{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
}
.hero-button{
margin-bottom: 112px;
}
.footer-container{
justify-content:left;
}
.portfolio-list{
gap: 72px 24px; 
}
.portfolio-card{
flex-basis: calc((100% - 24px) / 2);
}
.portfolio-card:not(:last-child){
margin-bottom: 0px;
}
.team-list{
gap: 64px 24px; 
}
.about-list{
gap: 72px 24px;
}
.about-item{
flex-basis: calc((100% - 24px) / 2);
}
.about-title{
text-align: start;
}
.footer-container{
padding: 0px 108px;
text-align: left;
gap: 72px 24px;
flex-basis: 100%;
}
.footer-tablet{
flex-basis: calc((100% - 24px) / 2);
align-items: first baseline;
}
.footer-text{
max-width: 264px;
padding-left: 0px;
}
.footer-text-second{
margin-top: 16px;
}
.footer-form{
flex-wrap: nowrap;
gap: 24px; 
}
.footer-input{
width: 264px;
}
.modal{
max-width: 408px;
max-height: 584px;
padding: 72px 24px 24px 24px;
}
}



/* screen 1158 */
@media screen and (min-width: 1158px){
.container{
max-width: 1158px;
}
.header-inner{
gap: 76px;
}
.header-contacts{
display: flex;
padding: 24px 0;
}
.header-contacts-inner{
display: flex;
flex-direction: row;
align-items: center;
gap: 40px;
}

.header-contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.hero-title{
max-width: 526px;
padding: 0 0 48px;
}
.hero-button{
margin-bottom: 68px;
}
.portfolio-list{
gap: 48px 24px; 

}
.portfolio-card{
 flex-basis: calc((100% - 48px) / 3);
}
.section{
 padding: 120px 0px;
}
.team-list{
    gap: 24px; 
    flex-wrap: nowrap;
}
.about-list{
    flex-wrap: nowrap;
}
.about-icon-container{
    display: flex;
}
.about-title{
    font-weight: 500;
    font-size: 20px;
}
.about-text{
    font-weight: 400;
}
.footer{
padding: 100px 0px;
}
.footer-container{
gap: 0px;
flex-wrap: nowrap;
padding: 0px 15px;
}
.footer-text{
    max-width: 264px;
}
.footer-tablet{
/* gap: 0px; */
flex-basis:content;
align-items: first baseline;
}
.footer-logo-text{
margin-right: 120px;
}
.footer-form-container{
    margin-left: 80px;
}
}
